
.underwater{
width: 100%;
height: 665px;
display: flex;
position: relative;
}

.photo{
    width: 100%;
}

.jellyfish{
    width: 150px;
    position: absolute;
    left: 650px;
    top: 50px;
    animation: jelly 14s infinite;
}
.man{
    left:400px;
    top: 350px;
    position: absolute;
    animation: swimer 30s infinite;
}
.waterhorse{
    height: 120px;
    width: 200px;
    opacity: 0.9;
    top: 380px;
    position: absolute;
}

.jellyfish2{
    width:150px;
    left: 400px;
    top: 270px;
    opacity: 0.9;
    animation: jelly2 30s infinite;
    position: absolute;
    }

/* keyframes */

@keyframes swimer{
from { margin-left: 50%; }  
    to{  margin-right: 30%; }
}

@keyframes jelly{
from {margin-top: 25%;}
to {margin-bottom: 0%;}
}

@keyframes jelly2{
 from {margin-top: 10%;}
    to {margin-bottom: 30%;}
    }